.page{

opacity:1;

transition:opacity .8s ease;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Background Image */
body{
    font-family:'Poppins',sans-serif;
    min-height:100vh;
    overflow-x:hidden;
    background:black;
}

    background:linear-gradient(
        -45deg,
        #2b0d17,
        #4b1834,
        #7b274d,
        #2b0d17
    );

    background-size:400% 400%;

    animation:bgMove 18s ease infinite;
}
@keyframes bgMove{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}
/* Dark Overlay */

.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.45);
    z-index:-1;
}

/* Hide Elements */

.hidden{
    display:none;
}

/* Landing Page */

.hero{
    position:relative;
    text-align:center;
    color:white;
    padding:30px;
    animation:fadeIn 1.2s;
}

.hero h3{
    font-size:22px;
    margin-bottom:15px;
}

.hero h1{
    font-family:'Great Vibes',cursive;
    font-size:80px;
    color:#ffd1dc;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
}

/* Buttons */

button{

padding:18px 35px;

border:none;

border-radius:50px;

background:linear-gradient(45deg,#ff4f81,#ff7ca8);

color:white;

font-size:18px;

cursor:pointer;

transition:.35s;

box-shadow:0 12px 25px rgba(255,79,129,.45);

}

button:hover{

transform:translateY(-4px);

box-shadow:0 18px 35px rgba(255,79,129,.55);

}

/* Love Letter */

.letter{
    position:relative;
    width:90%;
    max-width:700px;
    padding:35px;
    border-radius:25px;
    background:rgba(255,255,255,.12);

backdrop-filter:blur(25px);

-webkit-backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.2);

box-shadow:0 20px 50px rgba(0,0,0,.35);
}

.letter h2{
    text-align:center;
    font-size:34px;
    color:#ffd1dc;
    margin-bottom:25px;
    font-family:'Great Vibes',cursive;
}

.letter p{
    line-height:2;
    font-size:17px;
}

.letter button{
    display:block;
    margin:35px auto 0;
}

/* Fade Animation */

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}.memories{

position:relative;

width:95%;
max-width:900px;

color:white;

text-align:center;

animation:fadeIn 1s;

}

.subtitle{

margin-top:10px;
margin-bottom:30px;
font-size:18px;

}

.gallery{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.photo{

background:rgba(255,255,255,.12);

backdrop-filter:blur(25px);

-webkit-backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.2);

box-shadow:0 20px 50px rgba(0,0,0,.35);

backdrop-filter:blur(12px);

padding:15px;

border-radius:20px;

transition:.4s;

}

.photo:hover{

transform:scale(1.03);

}

.photo img{

width:100%;

border-radius:15px;

transition:1s;

display:block;

}.photo:hover img{

transform:scale(1.08);

}



.photo p{

margin-top:12px;

font-size:15px;

}

#playlistBtn{

margin-top:35px;

}
/* Playlist */

.playlist{

position:relative;

width:90%;

max-width:700px;

color:white;

text-align:center;

animation:fadeIn 1s;

}

.playlist h2{

font-family:'Great Vibes',cursive;

font-size:60px;

margin-bottom:20px;

color:#ffd1dc;

}

.playlist-text{

font-size:18px;

line-height:1.8;

margin-bottom:30px;

}

.spotify-card{

background:rgba(255,255,255,.12);

backdrop-filter:blur(25px);

-webkit-backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.2);

box-shadow:0 20px 50px rgba(0,0,0,.35);

backdrop-filter:blur(18px);

padding:35px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.4);

margin-bottom:30px;

}

.spotify-card h3{

font-size:30px;

margin-bottom:15px;

}

.spotify-card p{

margin-bottom:25px;

line-height:1.6;

}.songs{

display:flex;
flex-direction:column;
gap:15px;
margin-top:30px;

}

.song{

background:#181818;

border-left:4px solid #1DB954;

padding:20px;

border-radius:15px;

display:flex;

justify-content:space-between;

align-items:center;

transition:.3s;

cursor:pointer;

}


.song:hover{

transform:scale(1.03);

background:rgba(255,255,255,.2);

}

.song h3{

font-size:20px;

color:white;

}

.song p{

color:#ddd;

}

.song span{

font-size:28px;

color:#1DB954;
}
.anniversary{

position:relative;

width:90%;
max-width:800px;

color:white;

text-align:center;

animation:fadeIn 1s;

}

.anniversary h2{

font-family:'Great Vibes',cursive;

font-size:60px;

color:#ffd1dc;

margin-bottom:20px;

}

.counter{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin:40px 0;

}

.time{

width:120px;

padding:25px;

background:rgba(255,255,255,.12);

border-radius:20px;

}

.time span{

font-size:42px;

font-weight:bold;

display:block;

color:#ff9ec2;

}

.time p{

margin-top:8px;

font-size:18px;

}



.loveText{

font-size:20px;

margin-bottom:30px;

}
.final{

position:relative;

width:90%;

max-width:700px;

text-align:center;

color:white;

animation:fadeIn 2s;

}

.final h1{

font-family:'Great Vibes',cursive;

font-size:65px;

color:#ffd1dc;

margin-bottom:10px;

}

.final h2{

font-size:38px;

margin-bottom:30px;

}

.final p{

font-size:19px;

line-height:2;

margin-bottom:40px;

}

.heart{

font-size:90px;

animation:beat 1s infinite;

margin-bottom:20px;

}

@keyframes beat{

0%{transform:scale(1);}
50%{transform:scale(1.2);}
100%{transform:scale(1);}

}

.floating-heart{
    position:fixed;
    bottom:-50px;
    pointer-events:none;
    animation:floatHeart 10s linear forwards;
    z-index:9999;
}

@keyframes floatHeart{

0%{
transform:translateY(0) rotate(0deg);
opacity:0;
}

15%{
opacity:1;
}

100%{
transform:translateY(-120vh) rotate(360deg);
opacity:0;
}

}
.hero,
.letter,
.memories,
.playlist,
.anniversary,
.final{

transition:opacity .8s ease;

}



.memory-slide{
    display:none;
    text-align:center;
    animation:fadeIn 1s;
}

.memory-slide.active{
    display:block;
}

.memory-slide img{
    width:100%;
    max-width:500px;
    border-radius:25px;
    box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.memory-slide p{
    margin-top:25px;
    line-height:1.8;
    font-size:20px;
}

.memory-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}
.hero,
.letter,
.memories,
.playlist,
.anniversary,
.final{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:40px;
}

.hidden{
    display:none !important;
}
